*.swp
__pycache__/**
out/
core*
*.ipynb
# *.sh
*.bin
wandb
backup
*.pth
#*.txt
out/
log/
*.json
*.xlsx
*.mp4
tools/*.jpg
tools/*.mp4
data/
dataset/
pretrained_weight/
yt_asl_validation.csv
yt_asl_validation_head200.csv
.DS_Store
app.log