accelerate
decord
deepspeed
einops
matplotlib
numpy
opencv-python
pandas
rich
rouge
sacrebleu
scikit-image
scikit-learn
scipy
seaborn
tensorboard
tensorflow
timm
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
sentencepiece

